.formulario {
    width: 500px;    
    margin: 0 auto;
    background-color: red;
    align-items: center;
    align-content: center;
    text-align: center;
    

}
label, input {
    margin-bottom: 10px;
    display: block;
    
}